# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache e build
dist/
build/
.cache/
.tmp/
.nyc_output/
coverage/

# Sistema
.DS_Store
Thumbs.db

# Railway / Deploy
*.log
